<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjz.evaluations.mapper.AssessmentExamineMapper">
    
    <resultMap type="com.sjz.evaluations.model.entity.AssessmentExamine" id="AssessmentExamineResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
        <result property="lastStage"    column="last_stage"    />
        <result property="examineId"    column="examine_id"    />
        <result property="content"    column="content"    />
        <result property="assessmentDepartment"    column="assessment_department"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectAssessmentExamineVo">
        select id, name, pid, last_stage, examine_id, content, assessment_department, deleted, from gr_assessment_examine
    </sql>
    <select id="findParentment" resultType="com.sjz.evaluations.model.entity.AssessmentExamine">
        select t2.*,t1.lvl
        from (SELECT
        @r AS _id,
        (SELECT @r := pid FROM gr_assessment_examine WHERE id COLLATE utf8mb4_general_ci= _id) AS parent_id,
        @l := @l + 1 AS lvl
        FROM
        (SELECT @r := #{id}, @l := 0) vars,
        gr_assessment_examine h
        WHERE @r &lt;&gt; '0' ) t1
        join gr_assessment_examine t2 on t1._id COLLATE utf8mb4_general_ci =t2.id  order by t1.lvl desc
    </select>

</mapper>