<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjz.evaluations.mapper.GrDistrictMapper">
    
    <resultMap type="com.sjz.evaluations.model.entity.GrDistrict" id="GrDistrictResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="districtContacts"    column="district_contacts"    />
        <result property="districtContact"    column="district_contact"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectGrDistrictVo">
        select id, name, district_contacts, district_contact, deleted, from gr_district
    </sql>

</mapper>