<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.businessReport.BusinessYearReportNewWasteMapper">

    <resultMap type="com.zsgf.platform.model.entity.businessReport.BusinessYearReportNewWaste"
               id="BusinessYearReportNewWasteResult">
        <result property="id" column="ID"/>
        <result property="mainid" column="MAINID"/>
        <result property="dwid" column="DWID"/>
        <result property="fwdlbh" column="FWDLBH"/>
        <result property="fwdlmc" column="FWDLMC"/>
        <result property="fwxlbh" column="FWXLBH"/>
        <result property="fwxlmc" column="FWXLMC"/>
        <result property="md" column="MD"/>
        <result property="xt" column="XT"/>
        <result property="csy" column="CSY"/>
        <result property="csl" column="CSL"/>
        <result property="zcsl" column="ZCSL"/>
        <result property="sndkcl" column="SNDKCL"/>
        <result property="jldw" column="JLDW"/>
        <result property="bz" column="BZ"/>
        <result property="sssheng" column="SSSHENG"/>
        <result property="ssshi" column="SSSHI"/>
        <result property="ssqu" column="SSQU"/>
        <result property="modifyrq" column="MODIFYRQ"/>
    </resultMap>

    <sql id="selectBusinessYearReportNewWasteVo">
        select ID,
               MAINID,
               DWID,
               FWDLBH,
               FWDLMC,
               FWXLBH,
               FWXLMC,
               MD,
               XT,
               CSY,
               CSL,
               ZCSL,
               SNDKCL,
               JLDW,
               BZ,
               SSSHENG,
               SSSHI,
               SSQU,
               MODIFYRQ,
        from pp_wxfw_business_year_report_new_waste
    </sql>

</mapper>