<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crcm.bpm.mapper.ApproveOpinionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crcm.bpm.domain.entity.ApproveOpinionDO">
        <id column="id" property="id" />
        <result column="act_task_id" property="actTaskId" />
        <result column="task_name" property="taskName" />
        <result column="apply_id" property="applyId" />
        <result column="approve_opinion" property="approveOpinion" />
        <result column="approve_action" property="approveAction" />
        <result column="create_by" property="createBy" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_by" property="updateBy" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, act_task_id, task_name, apply_id, approve_opinion, approve_action, create_by, create_user_id, update_by, update_user_id, create_time, update_time, deleted
    </sql>

</mapper>
