<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.yearPlan.YearPlanWasteStorageMeasuresMapper">

    <resultMap type="com.zsgf.platform.model.entity.yearPlan.YearPlanWasteStorageMeasures"
               id="YearPlanWasteStorageMeasuresResult">
        <result property="id" column="ID"/>
        <result property="mainid" column="MAINID"/>
        <result property="sffhygyq" column="SFFHYGYQ"/>
        <result property="sfflsjzc" column="SFFLSJZC"/>
        <result property="sfhhzcwjaqxczqxzbxrwf" column="SFHHZCWJAQXCZQXZBXRWF"/>
        <result property="sfhhzc" column="SFHHZC"/>
        <result property="sftgspjys" column="SFTGSPJYS"/>
        <result property="wrfzhsgyfcs" column="WRFZHSGYFCS"/>
        <result property="sssheng" column="SSSHENG"/>
        <result property="ssshi" column="SSSHI"/>
        <result property="ssqu" column="SSQU"/>
        <result property="xgsj" column="XGSJ"/>
    </resultMap>

    <sql id="selectYearPlanWasteStorageMeasuresVo">
        select ID,
               MAINID,
               SFFHYGYQ,
               SFFLSJZC,
               SFHHZCWJAQXCZQXZBXRWF,
               SFHHZC,
               SFTGSPJYS,
               WRFZHSGYFCS,
               SSSHENG,
               SSSHI,
               SSQU,
               XGSJ,
        from pp_wxfw_year_plan_waste_storage_measures
    </sql>

</mapper>