<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.yearPlan.YearPlanProductProcessMapper">

    <resultMap type="com.zsgf.platform.model.entity.yearPlan.YearPlanProductProcess" id="YearPlanProductProcessResult">
        <result property="id" column="ID"/>
        <result property="mainid" column="MAINID"/>
        <result property="gysm" column="GYSM"/>
        <result property="sssheng" column="SSSHENG"/>
        <result property="ssshi" column="SSSHI"/>
        <result property="ssqu" column="SSQU"/>
        <result property="xgsj" column="XGSJ"/>
    </resultMap>

    <sql id="selectYearPlanProductProcessVo">
        select ID, MAINID, GYSM, SSSHENG, SSSHI, SSQU, XGSJ,
        from pp_wxfw_year_plan_product_process
    </sql>

</mapper>