<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.yearPlan.YearPlanWasteMinimizationMapper">

    <resultMap type="com.zsgf.platform.model.entity.yearPlan.YearPlanWasteMinimization"
               id="YearPlanWasteMinimizationResult">
        <result property="id" column="ID"/>
        <result property="mainid" column="MAINID"/>
        <result property="fwxxmc" column="FWXXMC"/>
        <result property="bndjhcsl" column="BNDJHCSL"/>
        <result property="jldw" column="JLDW"/>
        <result property="remark" column="REMARK"/>
        <result property="sssheng" column="SSSHENG"/>
        <result property="ssshi" column="SSSHI"/>
        <result property="ssqu" column="SSQU"/>
        <result property="xgsj" column="XGSJ"/>
    </resultMap>

    <sql id="selectYearPlanWasteMinimizationVo">
        select ID,
               MAINID,
               FWXXMC,
               BNDJHCSL,
               JLDW,
               REMARK,
               SSSHENG,
               SSSHI,
               SSQU,
               XGSJ,
        from pp_wxfw_year_plan_waste_minimization
    </sql>

</mapper>