<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.collect.CollectDeptMapper">

    <resultMap type="com.zsgf.platform.model.entity.collect.CollectDept" id="CollectDeptResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="type" column="type"/>
        <result property="deptName" column="dept_name"/>
        <result property="personName" column="person_name"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="selectCollectDeptVo">
        select id,
               company_id,
               type,
               dept_name,
               person_name,
               deleted
        from tbl_collect_dept
    </sql>

</mapper>