<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.collect.CollectorMapper">

    <resultMap type="com.zsgf.platform.model.entity.collect.Collector" id="CollectorResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="collectorName" column="collector_name"/>
        <result property="collectorPhone" column="collector_phone"/>
        <result property="type" column="type"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="selectCollectorVo">
        select id,
               company_id,
               collector_name,
               collector_phone,
               type,
               deleted
        from tbl_collector
    </sql>

</mapper>