<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.standardize.WasteStandardizedAssessmentReportMapper">

    <resultMap type="com.zsgf.platform.model.entity.standardize.WasteStandardizedAssessmentReport"
               id="WasteStandardizedAssessmentReportResult">
        <result property="id" column="id"/>
        <result property="judgeId" column="judge_id"/>
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="areaCode" column="area_code"/>
        <result property="deadlineDate" column="deadline_date"/>
        <result property="contacts" column="contacts"/>
        <result property="telephone" column="telephone"/>
        <result property="reviewer" column="reviewer"/>
        <result property="assessmentDate" column="assessment_date"/>
        <result property="lawEnforceOrg" column="law_enforce_org"/>
        <result property="rectificationTime" column="rectification_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="selectWasteStandardizedAssessmentReportVo">
        select id,
               judge_id,
               company_id,
               company_name,
               area_code,
               deadline_date,
               contacts,
               telephone,
               reviewer,
               assessment_date,
               law_enforce_org,
               rectification_time,
               deleted
        from tbl_waste_standardized_assessment_report
    </sql>

</mapper>