<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.sysOrg//DTD Mapper 3.0//EN" "http://mybatis.sysOrg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crcm.develop.system.gen.mapper.DatasourceConfMapper">

  <resultMap id="datasourceConfMap" type="com.crcm.develop.tool.entity.DatasourceConfEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="dbType" column="db_type"/>
  </resultMap>
</mapper>
