<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crcm.admin.mapper.SysSettingsMapper">
    
    <resultMap type="com.crcm.admin.model.entity.SysSettings" id="SysSettingsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="value"    column="value"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectSysSettingsVo">
        select id, name, code, value, deleted, from sys_settings
    </sql>

</mapper>