<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgf.platform.mapper.solid.report.SolidYearReportSelfUseMapper">

    <resultMap type="com.zsgf.platform.model.entity.solid.report.SolidYearReportSelfUse"
               id="SolidYearReportSelfUseResult">
        <result property="id" column="ID"/>
        <result property="mainid" column="MAINID"/>
        <result property="childid" column="CHILDID"/>
        <result property="ssid" column="SSID"/>
        <result property="lyczfsdl" column="LYCZFSDL"/>
        <result property="lyczfsxl" column="LYCZFSXL"/>
        <result property="ssmc" column="SSMC"/>
        <result property="czsl" column="CZSL"/>
        <result property="wnzcl" column="WNZCL"/>
        <result property="sldw" column="SLDW"/>
        <result property="remark" column="REMARK"/>
        <result property="ssshi" column="SSSHI"/>
        <result property="ssqu" column="SSQU"/>
        <result property="modifyrq" column="MODIFYRQ"/>
    </resultMap>

    <sql id="selectSolidYearReportSelfUseVo">
        select ID,
               MAINID,
               CHILDID,
               SSID,
               LYCZFSDL,
               LYCZFSXL,
               SSMC,
               CZSL,
               WNZCL,
               SLDW,
               REMARK,
               SSSHI,
               SSQU,
               MODIFYRQ
        from pp_ybgygf_solid_year_report_self_use
    </sql>

</mapper>