<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.SysOrg//DTD Mapper 3.0//EN" "http://mybatis.SysOrg/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crcm.admin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crcm.admin.model.entity.SysUser">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="username" property="username"/>
        <result column="org_id" property="orgId"/>
        <result column="password" property="password"/>
        <result column="memo" property="memo"/>
        <result column="nick_name" property="nickName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="user_type" property="userType"/>
        <result column="user_detail_type" property="userDetailType"/>
        <result column="area_code" property="areaCode"/>
        <result column="area" property="area"/>
        <result column="avatar" property="avatar"/>
        <result column="enabled" property="enabled"/>
        <result column="locked" property="locked"/>
        <result column="deleted" property="deleted"/>
        <result column="expired" property="expired"/>
        <result column="comment" property="comment"/>
        <result column="last_active_time" property="lastActiveTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_update_pwd_time" property="lastUpdatePwdTime"/>
        <result column="town_code" property="townCode"/>
        <result column="village_code" property="villageCode"/>
        <result column="position_id" property="positionId"/>
        <result column="is_building" property="isBuilding"/>
        <result column="open_id" property="openId"/>
        <result column="part_user_id" property="partUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, username, org_id, password, memo, nick_name, phone, email,
        user_type, user_detail_type, area_code, area, avatar, enabled, locked,
        deleted, expired, comment, last_active_time, last_login_time, last_update_pwd_time,
        town_code, village_code, position_id, is_building, open_id
    </sql>
    <sql id="SU_Base_Column_List">
        su.id, su.username, su.org_id, su.nick_name
    </sql>

    <select id="findPageUser" resultType="com.crcm.admin.model.vo.UserVO">
        select * from sys_user
        where deleted = 0
        <if test="user.username != '' and user.username != null">
            and username like CONCAT('%',#{user.username},'%')
        </if>
        <if test="user.nickName != '' and user.nickName != null">
            and nick_name like CONCAT('%',#{user.nickName},'%')
        </if>
        <if test="user.enabled != null">
            and enabled = #{user.enabled}
        </if>
        <if test="user.locked != null">
            and locked = #{user.locked}
        </if>
        <if test="user.userType != null">
            and user_type = #{user.userType}
        </if>
        <if test="user.userDetailType != null">
            and user_detail_type = #{user.userDetailType}
        </if>
        <if test="user.areaCode != '' and user.areaCode != null">
            and area_code = #{user.areaCode}
        </if>
        order by update_time desc
    </select>

    <select id="findTree" resultType="com.crcm.core.dto.TreeView">
        select id,username as label,org_id as pid from sys_user where deleted = 0
    </select>

    <select id="findAll" resultType="map">
        select * from sys_user where deleted='0'
    </select>

    <select id="selectUserBaseInfo" resultType="com.crcm.admin.model.vo.UserBaseInfoVO">
        select id,username,avatar,comment,email,phone,nick_name,
        user_type,area_code,town_code,village_code,position_id,org_id

        from sys_user where id= #{id} and deleted='0'
    </select>

    <update id="updateLoginTime">
        update sys_user set last_login_time = #{lastLoginTime} where username = #{userName}
    </update>

    <select id="findUserByOpenId" resultType="com.crcm.admin.model.entity.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where open_id = #{openId}
    </select>

    <select id="getByOpenId" resultType="com.crcm.admin.api.dto.res.UserAccountDTO">
        select id,
        username,
        password,
        phone,
        email,
        enabled,
        locked,
        expired,
        deleted,
        nick_name,
        avatar,
        org_id,
        user_type,
        user_detail_type,
        area_code,
        area,
        open_id
        from sys_user
        where deleted = 0 and open_id = #{openId}
    </select>
    <update id="updateDjUserDetail">
        update sjz_business.dj_sys_user_detail set user_id = #{userId}
        where id = #{partUserId}
    </update>

    <select id="getListByRoleValue" resultType="com.crcm.admin.model.entity.SysUser">
        select
        <include refid="SU_Base_Column_List"/>
        from sys_user su
        inner join sys_user_role sur on su.id = sur.user_id
        inner join sys_role sr on sr.id = sur.role_id
        <where>
            <if test="roleValue != null and roleValue !=''">
                sr.value = #{roleValue}
            </if>
        </where>
    </select>

    <update id="updateUserInfo" parameterType="com.crcm.admin.model.entity.SysUser">
        update sys_user set
        area = #{area}
        <if test="username != null and username !=''">
            ,username = #{username}
        </if>
        <if test="avatar != null and avatar !=''">
            ,avatar = #{avatar}
        </if>
        <if test="nickName != null and nickName !=''">
            ,nick_name = #{nickName}
        </if>
        <if test="email != null and email !=''">
            ,email = #{email}
        </if>
        <if test="phone != null and phone !=''">
            ,phone = #{phone}
        </if>
        <if test="comment != null and comment !=''">
            ,comment = #{comment}
        </if>
        <if test="areaCode != null and areaCode !=''">
            ,area_code = #{areaCode}
        </if>
        <if test="townCode != null and townCode !=''">
            ,town_code = #{townCode}
        </if>
        <if test="villageCode != null and villageCode !=''">
            ,village_code = #{villageCode}
        </if>
        <if test="positionId != null and positionId !=''">
            ,positionId = #{positionId}
        </if>
        <if test="orgId != null">
            ,org_id = #{orgId}
        </if>
        <if test="updateTime != null">
            ,update_time = #{updateTime}
        </if>
        where
        id = #{id}
    </update>
</mapper>
